{
  "check-coverage": true,
  "per-file": true,
  "lines": 0,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "require": ["babel-register"],
  "exclude": [
    "*/node_modules/*",
    "coverage/**",
    "test/**",
    "UI"
  ],
  "reporter": ["lcov", "json", "text"],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}