{
  "check-coverage": true,
  "per-file": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 50,
  "require": ["babel-register"],
  "exclude": [
    "*/node_modules/*",
    "coverage/**",
    "server/middlewares/errorHandler.js",
    "UI"
  ],
  "include": [ "**/server/**"],
  "reporter": ["lcov", "json", "text"],
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "report-dir": "./coverage"
}