.welcome {
  height: 35vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url('https://res.cloudinary.com/dcqnswemi/image/upload/v1532299580/customer-bg.jpg') center #333 no-repeat;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
}

.cart-count {
  color: red;
}

@media screen and (min-width: 700px) {
  .welcome p {
    font-size: 50px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1100px) {
  .welcome {
    height: 50vh !important;
  }
}
