//colors
$color_west_side_approx: #ff8619;
$color_soapstone_approx: snow;
$black: black;
$white: #fff;
$color_ship_gray_50_approx: rgba(66, 63, 63, 0.5);
$color_ship_gray_75_approx: rgba(65, 63, 63, 0.75);
$color_fern_approx: #61b750;
$color_celeste_approx: #ccc;
$black_30: rgba(0,0,0,0.3);

//urls
$url_0: url(https://res.cloudinary.com/dcqnswemi/image/upload/v1527282648/cooking.jpg);


//html, body
%extend_1 {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font: 0.9em/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
	box-sizing: border-box;
}


* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
.main-container {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}
.container {
	width: 100%;
	margin: auto;
	overflow: hidden;
}


ul {
	margin: 0;
	padding: 0;
}

#showcase {
	height: 100vh;
	background: $url_0 no-repeat;
	background-size: cover;
	padding-top: 40px;
	align-content: center;
	.min-container {
		min-width: 200px;
		color: $white;
		background: linear-gradient(to bottom, $color_ship_gray_50_approx, $color_ship_gray_75_approx ), transparent;
		padding: 10px 8px;
		text-align: center;
		h1 {
			font-weight: 700;
			font-size: 3rem;
			text-transform: uppercase;
			line-height: 58px;
		}
		p {
			font-weight: 700;
			font-size: 22px;
			text-transform: uppercase;
			line-height: 24px;
			margin-top: -10px;
		}
	}
}
.desc-container {
	background: $white;
	background-size: cover;
	text-align: center;
	padding-top: 1em;
	vertical-align: middle;
	margin: 2rem;
	p {
		color: $black;
	}
	a {
		color: $color_fern_approx;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			text-decoration: none;
			color: $color_west_side_approx;
		}
	}
}

.desc-container > h1 {
	font-size: 3vw;
	color: $color_west_side_approx;
}

.desc-container > h2, .desc-container > a {
	font-size: 2vw;
	font-weight: normal;
}

.desc-container > p {
	font-size: 2vw
}

.bold {
	font-size: 0.9rem;
	font-weight: bold;
	color: $color_west_side_approx;
}
input[type=submit] {
	display: block;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 17px;
	text-transform: capitalize;
	border: 1px solid $color_celeste_approx;
	border-radius: 4px;
	padding: 2px;
	background: $color_fern_approx;
	color: $color_soapstone_approx;
	cursor: pointer;
	font-size: 0.9rem;
	&:hover {
		transition: background-color 0.1s ease-out;
	}
}

.btn-1 {
  font-size: 0.8em;
  padding: 1em 2em;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 7px;
}

.btn-1:hover,
.btn-1:focus {
  transition: background-color 0.05s ease-in
}

.btn-1:disabled:hover,
.btn-1:disabled:focus {
	color: #8e8d8d
}

.loginbtn {
  background: #61B750
}
.btn-col {
	background: #ff8619;
	color: #fff
}
.btn-col:hover {
	background: #61b750;
	color: #fff
}

.toast {
	background: #61b750;
	color: #ffffff;
	border: #ff8619
}
.toast-progress {
	color: #ff8619
}

<<<<<<< HEAD
=======


// .btn {
// 	background-color: #61b750;
// 	color: #fff;
// 	text-align: center;
// 	padding: 10px;
// 	text-decoration: none;
// 	font-size: 16px;
// 	line-height: 25px;
// 	border-radius: 4px;
// 	cursor: pointer;
// }

>>>>>>> d49f2b57ebed161ee85a43f5828ca57edba505e1
.btn:hover {
	background-color: #46b430;
	transition: background-color 0.1s ease-out;
}

.closeBtn {
	position: absolute;
	right: 10px;

}

/* Modal */
.modal {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	// bottom: 10px;
	padding-bottom: 3rem;
	overflow: auto;
	background-color: #fff;
	height: auto;
	max-width: 100%
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
}

@media scree and (max-height: 770px) {}

@media screen and (max-width: 530px) {
	* {
		font-size: 12px;
	}

	.modal {
		height: 100%;
		top: 3%
	}
}

.title-2 {
	color: #ff8619;
	font-weight: 400;
	text-transform: capitalize;
  text-align: center;
}

.pull-down {
	margin-top: 10%;
}

.big-little {
	font-weight: bold;
	font-size: 1rem
}

.edit-menu-meals {
	margin-bottom: 1rem
}

.notFoundCard {
	max-width: 40rem;
	height: 10rem;
	border: 1px solid #ccc;
	box-shadow: #8e8d8d;
	// padding: 30px;
	margin: 5%;
	margin-top: 0;
	text-align: center
}

@media screen and (max-width: 630px) {
	.desc-container > h1 {
		font-size: 5vw
	}

	.desc-container > h2, .desc-container > a {
		font-size: 3.5vw
	}

	.desc-container > p {
		font-size: 3.5vw
	}
}

/* footer */
footer {
	display: grid;
	text-align: center;
	background: #292C34;
	color: $white;
	width: 100%;
	bottom: 0;
	position: absolute;
}

