.setmenu-container {
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.5s ease-in-out
}

.setMenuCard {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 10px auto;
}

.setMenuCard form {
  width: 100%;
}

.setMenuCard form>.date {
  display: flex;
  /* border: 1px solid blue; */
  justify-content: flex-start;
}


.setMenuCard form>.date label {
  flex-basis: 33%;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  padding: 5px;
}

.setMenuCard form>.date>.input-div {
  flex-basis: 70%;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px 10px;
  margin: auto;
  margin-bottom: 30px;
}

.setMenuCard form>.date>.input-div input {
  outline: none
}

.addBtn:disabled, .addBtn:disabled:hover {
background: #8e8d8d
}

.checkbox-card {
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  height: auto;
  /* border: 1px solid blue; */
  width: 100%;
  padding: 10px;
}

.checkbox-card>p {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox-card>p:hover {
  border: 0px;
  -webkit-box-shadow: 0px 2px 9px 1px rgba(189,185,189,0.51);
  -moz-box-shadow: 0px 2px 9px 1px rgba(189,185,189,0.51);
  box-shadow: 0px 2px 9px 1px rgba(185, 189, 186, 0.51);
}

.setmenu-form>p.submit-btn {
  align-self: center;
  margin: 20px auto;
  padding: 10px 0;
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center
}

.mealsCheckbox>.pagination-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  margin: auto !important;
}


.welcome {
    text-align: center
}


.btn-3 {
  float: left;
  font-size: 0.5em;
  padding: 1em 2em;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-top: 7px;
  margin-left: 4px;
}

.adminpage .table-container {
  display: flex !important;
  justify-content: center;
  align-items: center
}



.adminpage .res-container {
  height: auto !important;
  margin: auto;
}

.adminpage .pagination-container,
.meal-page .pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.adminpage .menu-meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease;
}
.adminpage .menu-meals .meals {
  /* border: 1px solid pink; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.adminpage .menu-meals .meals .meal {
  /* border: 1px solid purple; */
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1rem
}

.adminpage .menu-meals .meal-hide-add-btns {
  /* border: 1px solid; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  transition: all 0.5s ease-in-out;
  animation: fadein 0.35s ease-in;
}

.adminpage .menu-meals .meal-hide-add-btns .add-meals-btn,
.adminpage .menu-meals .meal-hide-add-btns .hide-meals-btn {
  margin: auto;
  color: #ffffff
}

.admin-orderPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 60px 0;
}

.admin-orderPage .row-item.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (min-width: 700px) {
  .setmenu-form  {
    width: 800px;
  }

  .checkbox-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em
  }

  .setMenuCard form>.date label {
    flex-basis: 20%;
  }
}
