.adminpage .table-container {
  display: flex !important;
  justify-content: center;
  align-items: center
}

.adminpage .res-container {
  height: auto !important;
  margin: auto;
}

.adminpage .pagination-container,
.meal-page .pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.adminpage .menu-meals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease;
}
.adminpage .menu-meals .meals {
  /* border: 1px solid pink; */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.adminpage .menu-meals .meals .meal {
  /* border: 1px solid purple; */
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1rem
}

.adminpage .menu-meals .meal-hide-add-btns {
  /* border: 1px solid; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  transition: all 0.5s ease-in-out;
  animation: fadein 0.35s ease-in;
}

.adminpage .menu-meals .meal-hide-add-btns .add-meals-btn,
.adminpage .menu-meals .meal-hide-add-btns .hide-meals-btn {
  margin: auto;
  color: #ffffff
}

.admin-orderPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 60px 0;
}

.admin-orderPage .row-item.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
