.welcome {
  height: 50vh;
  width: 100%;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.75)
  ),
    url('https://res.cloudinary.com/dcqnswemi/image/upload/v1532299580/customer-bg.jpg') center #333 no-repeat;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome p{
  color: #ffffff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.address {
  display: inline-block;
  justify-content: center;
  font-size: 14px
}

.address label {
  align-self: center
}

.address input {
  width: 60%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-count {
  color: red
}

@media screen and (min-width: 700px) {
  .welcome p {
    font-size: 50px;
    font-weight: 600
  }
}
