* {
  margin: 0;
  padding: 0;
}
.menuContainer {
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column
}

.menu-details {
  margin: auto;
  width: 100%;
  /* border: 1px solid pink;  */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.menu-details p {
  width: 90%;
  /* border: 1px solid orange; */
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.menu-details p span:first-child {
  flex-basis: 20%;
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0 5px;
}

.menu-details p span:last-child {
  flex-basis: 70%;
  font-size: 1.0rem;
  text-transform: capitalize;
}

.menu-meals {
  /* border: 1px solid purple; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.show-meals-btn {
  color: #ffffff;
  /* text-transform: uppercase */
}