/* Global */

/* content */

.container {
  max-width: 1170px;
  border:none;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: #ff8619;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem
}

.total {
  text-transform: capitalize;
  font-size: 1.8rem;
  padding: 0.6rem;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background-color: #ddd
}

tr:nth-of-type(even) {
  background-color:snow
}

tr th {
  background-color:#61b750;
  color: white;
  font-weight: bold;
  padding: 1.4rem
}

td {
  padding: 5px;
  border: 1px solid white;
  text-align: left;
  padding: 1.4rem
}



tr:hover {
  background: rgba(97, 183, 80, 0.411)
}


@media screen and (max-width:930px) {
  .container {
    padding:0;

  }

  table,
  table tbody,
  table tr,
  table td
  {
    display: block;
    border-radius: 0px;
  }

  tr th {
    position: absolute;
    left: -9999px;
    top: -9999px
  }

  td {
    border:none;
    margin-top: 10px;
    position: relative;
    padding-left: 70%;
    white-space: normal;
    text-align: justify;

  }

  td:before {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 40%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

}

/* Order details */

.order-details {
  font-size: 1.3em;
  margin-bottom: 20px
}

#history {
  font-size: 1.4em
}

/* Footer */
footer {
  background: #ff8619;
  color: snow;
  text-align: center;
  padding: 1.4rem;
  margin-top: 1em;
}

footer .container {
  padding: 1.4em
}

/* order history */
#filter {
  margin: 1.2em
}
input[type=date] {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent
}