.signuppage {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.75)
    ),
    url('https://res.cloudinary.com/dcqnswemi/image/upload/v1532282490/loginpag3.jpg') center #333 no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px 10px;
  overflow: scroll
}

.signuppage .signupform-container {
  background: #ffffff;
  align-self: center;
  margin: auto;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: .5em;
  justify-content: center;
  padding: 5px;
}

.signupform-container .signup-card {
  /* border: 1px solid red; */
  border-radius: 10px;
  /* padding: .3em; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column
}

.signupform-container .signup-card .form-title {
  color: #61B750;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center
}

.signup-card form {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0, 10px;
}

.signup-card .signup-form>p {
  order: 2
  /* justify-self: stretch */
}
.signup-card form p>button,
.signup-card form p>input[type=text],
.signup-card form p>input[type=email],
.signup-card form p>input[type=password],
.signup-card form p>select {
  width: 80%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.signup-card .asterik {
  color: red;
}

/* .signup-card .btn-1 {
  border: none;
  background: #61B750;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  display: block;
} */
/*
.signup-card .btn-1:disabled {
  background: #8f8d8d;
} */

/* .signup-card .btn-1[disabled]:hover {
  color: #ffffff
} */

label {
  display: block;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 700
}

hr {
  color: #cccccc
}


/* alert */
.alert-danger {
  color: rgb(219, 41, 41);
}

.alert-success {
  color: #48e048;
  text-transform: capitalize
}
