/* Global */

body {
  margin: 0;
  padding: 0;
  font: 1em/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* header */
.header {
  overflow: hidden;
  background-color: #007bff;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: snow;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
 
}

.header a.logo  {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.header a.logo  {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.header a.logo:hover  {

  text-decoration: none;
}


.header a:hover, .header .active {
  font-weight: bold
}

.header-right {
  float: right;
}
.header-right:hover {
  border: none;
  color: black;
  border-radius: 4px;
}

@media screen and (max-width: 590px) {
  .header a {
      float: none;
      display: block;
      text-align: center;
  
  }

  .header-right {
      float: none;
  }
}

/* content */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  
}

/* welcome */
.welcome {
  align-content: center;
  padding: 2rem;
  text-align: center
}

.welcome img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.welcome p{
  color: #007bff;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
}
.img-circle {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  border: 4px solid #007bff;
  padding: 0.5rem;
}

.card {
  width: 80%;
  border-radius: 10px;
  padding: 1.4em;
  margin-left: auto;
  margin-right: auto;
  background: transparent
}

.card .menu-title {
  color: black;
  text-transform: capitalize;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center
}

@media screen and (max-width: 500px) {
  .card .menu-title {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 700;
  }
}

/* boxes */
.border {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: -30px
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-content: center;

}

.menu-box {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px;
max-width: 300px;
min-height: 400px
}

.menu-box img {
border-radius: 5px 5px 0 0;
width: 100%
}

.menu-info {
  padding: 12px 16px;
  max-height: 200px;
  text-align: justify
}

.menu-box input[type=number]{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 50%;
  margin-top: 5px;
}

.bold {
  font-size: 0.9rem;
  font-weight: bold;
  color: #007bff
}

input[type=submit] {
  display: block;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 17px;
  text-transform: capitalize;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 2px;
  background: #007bff;
  color: snow;
  cursor: pointer;
  font-size: 0.9rem
}

input[type=submit]:hover, 
input[type=submit]:focus {
  background: blue;
  transition: background-color 1s ease-out
}

/* Footer */
footer {
  background: #007bff;
  color: snow;
  text-align: center;
  margin-top: 1em;
}