body {
  margin: 0;
  padding: 0;
  font: 0.9em/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
}

/* Global */
.container {
  width: 80%;
  margin:auto;
  overflow: hidden
}

ul {
  margin: 0;
  padding: 0;
}

.btn-1 {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9em;
  text-align: center;
  border-radius: 0.7em;
  background: transparent
}

.btn-1:hover {
  background-color: #fff;
  color: #007bff;
  border: none
}
.btn-2 {
  border: 2px solid #007bff;
  color: #007bff;
  padding: 10px 20px;
  font-size: 0.9em;
  text-align: center;
  border-radius: 0.7em;
  background: transparent
}

.btn-2:hover {
  background-color: #007bff;
  color: #fff;
  border: none;
  font-weight: 400
}

/* Header */
header {
  background: #007bff;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  float: left;
}

header nav {
  float: right;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


